//
// useful mixins and imports
//

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);

//breakpoints
$bp-medium: 540px;
@mixin bp-large {
  @media only screen and (min-width: $bp-medium) {
    @content;
  }
}

//standardize rem
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//list item colors
@mixin li-color-example($color-ex){
  color:map-get($colors, $color-ex);
  border-color:map-get($colors, $color-ex);
}

@mixin ul-color-tryptich($color-family){
  li:nth-of-type(1){
    color:map-get($colors, #{$color-family}-light);
    border-color:map-get($colors, #{$color-family}-light);
  }
  li:nth-of-type(2){
    color:map-get($colors, $color-family);
    border-color:map-get($colors, $color-family);
  }
  li:nth-of-type(3){
    color:map-get($colors, #{$color-family}-dark);
    border-color:map-get($colors, #{$color-family}-dark);
  }
}
