section{
  padding-bottom:8em;
}
section#draft1{
  border-top:35px solid map-get($colors,green);
  background:map-get($colors,white-pink);
  color:map-get($colors,red);
  font-family:$sans-serif;
  h1{
    border-bottom: solid .5em map-get($colors, navy);
  }
}

section#draft2{
  border-top:35px solid map-get($colors,navy);
  background:map-get($colors,white-blue);
  color:map-get($colors,red);
  font-family:$sans-serif;
  h1{
    border-bottom: solid .5em map-get($colors, red);
  }
}

section#draft3{
  border-top:35px solid map-get($colors,blue);
  background:map-get($colors,white-yellow);
  color:map-get($colors,navy);
  font-family:$sans-serif;
  h1{
    border-bottom: solid .5em map-get($colors, green);
  }
}

ul#color_choices{
  width:100%;
  padding:0;
  margin:0;
  overflow:hidden;
  li{
    width:100%;
    padding:0;
    margin:0 0 2em 0;
    list-style-type: none;
  }
  //make the nested ul items 50%width
  ul{
    padding:0;
    margin:0;
  }
  li ul li{
    width:33%;
    display:inline-block;
    border-bottom:solid 4em white;
    margin:0;
    padding:0;
    float:left;
  }
  ul.navy{
    @include ul-color-tryptich(navy);
  }
  ul.purple{
    @include ul-color-tryptich(purple);
  }
  ul.blue{
    @include ul-color-tryptich(blue);
  }
  ul.green{
    @include ul-color-tryptich(green);
  }
  ul.red{
    @include ul-color-tryptich(red);
  }
  ul.yellow{
    @include ul-color-tryptich(yellow);
  }
}

ul.profile{
  margin:0;
  padding:0;
  li{
    text-align:center;
    list-style-type: none;
    @include font-size(32px);
    margin-bottom:1em;
  }
  li.profile-image{
    img{
      max-width:50%;
      display:block;
      margin:0 auto;
      border-radius:50%;
    }
  }
}

ul.social{
  list-style-type: none;
  margin:50px auto 0;
  padding:0 12.5%;
  background:map-get($colors, navy);
  li{
    display:inline-block;
    width:25%;
    text-align:center;
    vertical-align:middle;
  }
}
