ul#color_choices{
  width:100%;
  padding:0;
  margin:0;
  li{
    width:100%;
    padding:0;
    margin:0 0 2em 0;
    border-bottom:solid 4em white;
    list-style-type: none;
  }
  .blue{
    color:map-get($colors, blue);
    border-color:map-get($colors, blue);
  }
  .green{
    color:map-get($colors, green);
    border-color:map-get($colors, green);
  }
  .yellow{
    color:map-get($colors, yellow);
    border-color:map-get($colors, yellow);
  }
  .red{
    color:map-get($colors, red);
    border-color:map-get($colors, red);
  }
  .purple{
    color:map-get($colors, purple);
    border-color:map-get($colors, purple);
  }
}

ul.profile{
  margin:0;
  padding:0;
  li{
    text-align:center;
    list-style-type: none;
    @include font-size(32px);
    margin-bottom:1em;
  }
  li.profile-image{
    img{
      max-width:50%;
      display:block;
      margin:0 auto;
      border-radius:50%;
    }
  }
}

ul.social{
  list-style-type: none;
  margin:50px auto 0;
  padding:0 12.5%;
  background:map-get($colors, navy);
  li{
    display:inline-block;
    width:25%;
    text-align:center;
    vertical-align:middle;
  }
}
