@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
body {
  background: #fff5f5;
  color: #283747;
  font-family: "Source Sans Pro", "helvetica", "arial", sans-serif;
  border-top: 35px solid #db370a;
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Source Sans Pro", "helvetica", "arial", sans-serif;
  border-bottom: solid 0.5em #db370a;
  font-weight: 300;
  font-size: 72px;
  font-size: 4.5rem;
  text-align: center; }

h2 {
  border-bottom: solid 0.5em #f1c40f; }

a {
  text-decoration: none;
  color: #fff5f5;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 3; }
  a:hover {
    color: #db370a; }

.wrapper {
  width: 70%;
  margin: 0 auto;
  max-width: 740px; }

ul#color_choices {
  width: 100%;
  padding: 0;
  margin: 0; }
  ul#color_choices li {
    width: 100%;
    padding: 0;
    margin: 0 0 2em 0;
    border-bottom: solid 4em white;
    list-style-type: none; }
  ul#color_choices .blue {
    color: #3498db;
    border-color: #3498db; }
  ul#color_choices .green {
    color: #1abc9c;
    border-color: #1abc9c; }
  ul#color_choices .yellow {
    color: #f1c40f;
    border-color: #f1c40f; }
  ul#color_choices .red {
    color: #db370a;
    border-color: #db370a; }
  ul#color_choices .purple {
    color: #7d3c98;
    border-color: #7d3c98; }

ul.profile {
  margin: 0;
  padding: 0; }
  ul.profile li {
    text-align: center;
    list-style-type: none;
    font-size: 32px;
    font-size: 2rem;
    margin-bottom: 1em; }
  ul.profile li.profile-image img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 50%; }

ul.social {
  list-style-type: none;
  margin: 50px auto 0;
  padding: 0 12.5%;
  background: #283747; }
  ul.social li {
    display: inline-block;
    width: 25%;
    text-align: center;
    vertical-align: middle; }
